@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Bellota+Text&display=swap');
.inlineheader{
  display:flex;
  justify-content: space-between;
}
.header {
  border: 1px solid black;
  font-family: 'Bellota Text', 'Sans';
  font-size: 30px;
  color: white;
  padding: 5px;
  background: rgb(170, 194, 216);
  display: float;
}
.logobanner {
  display: inline;
  width: 200px;
  height: 65px;
}
.something{
  justify-content: baseline;
  align-content: space-between;
  list-style-type: none;
  display: flex;
  text-align:right;
  align-self:flex-end;
  margin: 0;
}
.headerlinks{
  margin-right: 0%;
  display: flex;
  justify-items: space-between;
}
.search{
  padding-right: 2px;
}

.pics{
  height: 400px;
  width: 450px;
  margin:auto;
  padding: 15px;
}

.item{
  background: white;
display: block;
height: 475px;
width: 450px;
margin:auto;
border: 1px solid black;
/* background: grey; */
}
.carousel-indicators{
  opacity: 0;
}
.caption{
  font-family: 'Rock Salt';
  margin: auto;
}

/* .App{
  background-position: fixed center;
  background-size: cover;
  
} */
/* .city-show-page{
} */



/* Styling the Index Carousel */
/* .carousel-pics{
} */
.cityindeximage{
  width:400px;
  height: 300px;
}
.cities-index{
  margin: 0 auto;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-container{
  padding: 20px;
  background-color: rgba(255,255,255,0.7);
}
.carousel-index{
  text-align: center;
}
.cityindexname{
  font-size: 20px;
  color: white;
  font-family: 'Bellota Text', 'Sans';
  text-align: center;
  position: fixed;
  bottom: 125px; 
  margin-left: 150px;
}
